수정페이지입니다.

<form action="/homes/update/<%=@that_line.id%>" method="get" autocomplete="off">
    id : <%=@that_line.id%>
    <input type='number' name='num' value="<%=@that_line.age%>" > <br>
    <input value='수정하기' type='submit' value="">
</form>